.sidebar {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden;

	background-color: var(--black);
	border-right: .07rem solid var(--primary);
	box-shadow: .05rem 0 1rem var(--primary);
}