@use "@/styles/mixins";

.more {
	display: flex;
	flex-direction: column;
	gap: .8rem;

	@include mixins.button($paddingY: .4rem,
		$bgColor: var(--primary),
		$txtColor: var(--white),
		$bgActiveColor: var(--secondary));
}