@use "@/styles/mixins";

.more {
	display: flex;
	flex-direction: column;
	gap: .8rem;

	@include mixins.button($paddingBtmTop: .4rem,
		$paddingLftRght: .8rem,
		$bgColor: var(--primary),
		$txtColor: var(--white),
		$bgActiveColor: var(--secondary));
}

.not_more {
	display: none;
}