@use "@/styles/mixins";

.more {

	@include mixins.button($paddingY: .4rem,
	$shadow: var(--white-secondary));

	.button {
		margin-bottom: .8rem;

		box-shadow: var(--default-shadow-size) var(--white);
	}
}