.theme_setter {
	margin-top: 1rem;
	display: flex;
	gap: 5rem;

	.theme_btn {
		opacity: .3;
		filter: drop-shadow(var(--default-shadow));

		&:not(.active):hover {
			opacity: .7;
		}

		&.active {
			opacity: 1;
			filter: drop-shadow(var(--default-shadow-size) var(--white));
		}
	}
}