@use "@/styles/mixins";

.profile {
	padding: 1rem 1rem 0;

	.profile_change_container {
		display: flex;

		.profile_form {
			margin-top: 2rem;
			display: flex;
			flex-direction: column;
			gap: 1rem;

			.form_input {
				width: 100%;
			}
		}

		@include mixins.button();

		.change_avatar {
			margin-left: auto;
		}

	}

}