@use "@/styles/mixins";

.info_description {
	width: auto;

	.description_content {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		gap: .5rem;

		position: relative;

		@include mixins.button($paddingY: .1rem,
		$bgColor: transparent, $txtColor: var(--white),
		$shadow: var(--primary));

		.open_contacts {
			&:hover {
				color: var(--primary);
				opacity: 1;
				background: var(--white);
			}
		}

		.contacts {
			display: flex;
			gap: .5rem;

			list-style-type: none;
			text-wrap: nowrap;

			position: absolute;
			top: 100%;
		}
	}

}