@use "@/styles/mixins";

.input {
	display: flex;
	align-items: center;
	padding: .625rem 1rem;
	gap: .625rem;

	background-color: var(--black);
	border-top: 1px solid var(--primary);
	box-shadow: 0 -.05rem 1rem var(--primary);

	@include mixins.button-chat(
		$primary: var(--white-secondary),
		$secondary: var(--white),
		$bgHover: var(--white-transparent),
		$bgSize: 2.5rem
	);

}