.layout {
	width: 70%;
	margin: 5rem 0;

	display: grid;
	grid-template: 1fr 10fr / 1fr 4fr;
	grid-template-areas:
		"header header"
		"aside main"
		"aside footer"
	;
	gap: 1rem;

	background: var(--white-transparent);
	box-shadow: var(--default-shadow);

	main {
		padding-right: 1rem;
		grid-area: main;

		overflow-y: auto;
		overflow-x: hidden;
	}

	footer {
		grid-area: footer;
	}

	&.not_aside {
	grid-template-areas:
		"header header"
		"main main"
		"footer footer"
	;
		main {
			padding-left: 1rem;
		}

		aside {
			display: none;
		}
	}
}