.user {
	width: 10rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: .2rem;

	a {
		display: flex;
		align-items: center;
		flex-direction: column;

		.avatar {
			filter: drop-shadow( 0 0 .5rem var(--primary));
		}

		h2 {
			font-size: 1.2rem;
			text-wrap: nowrap;
			color: var(--white);

		}
	}

}