@use "@/styles/mixins";

.search {
	padding: .625rem 1rem;
	position: relative;

	background-color: var(--black);

	border-bottom: .1rem solid var(--primary);

	.icon {
		position: absolute;
		left: 1.5rem;
		top: 50%;
		transform: translateY(-50%);
		color: var(--white-secondary);
	}

	@include mixins.input($width: 80%, $focusColor: transparent, $font-size: .8rem);

	.clear {
		position: absolute;
		right: 2.75rem;
		top: 50%;
		transform: translateY(-50%);
		background: none;
		border: none;
		color: var(--white-secondary);
		cursor: pointer;
		opacity: 0;
		transition: opacity 0.2s;
	}

	input:not(:placeholder-shown)+.clear {
		opacity: 1;
	}
}