@use "@/styles/mixins";

.status_input {
	padding: .1rem .5rem;

	&:focus {
		box-shadow: 0 0 1rem var(--primary);
	}
}

@include mixins.button($paddingY: .2rem);

.button {
	margin-top: .5rem;
	&:hover {
		color: var(--primary);
		opacity: 1;
		background: var(--white);
		text-shadow: 0 0 1rem var(--black);
	}
}