.settings {
	color: var(--white-secondary);
	opacity: 0;

	transition: all .25s linear;
	position: absolute;
	top: 25%;
	left: 25%;
	z-index: 10;

	&:hover {
		color: var(--white);

		filter: drop-shadow(var(--default-shadow));
	}

	&.active {
		opacity: 1;
	}
}