@use "@/styles/mixins";

.message {
	display: flex;
	max-width: 70%;
	position: relative;

	// box-shadow: var(--default-shadow-size) var(--white);
	filter: drop-shadow(0 0 .25rem var(--white));

	&.received {
		margin-left: 1rem;
		align-self: flex-start;

		.content {
			margin-left: 1rem;

			background-color: var(--white-transparent);
			border-top-left-radius: 0;
		}
	}

	&.sent {
		padding-right: .75rem;

		align-self: flex-end;
		flex-direction: row-reverse;

		.content {
			background-color: var(--black);
			border-top-right-radius: 0;
		}

	}

	.content {
		min-width: 7.5rem;
		display: flex;
		flex-direction: column;
		padding: .5rem .75rem;

		border-radius: .5rem;
		word-wrap: break-word;

		position: relative;

		.text {
			margin-bottom: .25rem;

			font-size: .95rem;
			line-height: 1.4;
			font-weight: 400;
		}

		.meta {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			gap: .25rem;
			font-size: .75rem;
			color: var(--white-secondary);

			.read_receipt {
				color: var(--white-transparent);
			}
		}
	}

	.message_menu {
		position: relative;
		align-self: center;
		opacity: 0;
		transition: all .3s;
		margin: 0 .25rem;

		@include mixins.button-chat(
			$primary: var(--white-secondary),
			$secondary: var(--white),
			$bgHover: var(--white-transparent),
			$size: auto,
			$bgSize: auto,
			$padding: .25rem);

	}

	&:hover .message_menu {
		opacity: 1;
	}

}