:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-size: 16px;

	color-scheme: light dark;
	color: var(--white);
	background-color: var(--black-secondary);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	scrollbar-width: thin;
	scrollbar-color: var(--white-secondary) transparent;
	scroll-margin: 0;

	&::-webkit-scrollbar {
		width: .4rem;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--white-secondary);
		border-radius: .2rem;
	}

	// Common=========================================\\

	// **********sub colors*************\\
	--primary: #333fcc;
	--primary-dark: #5F3BCE;

	--secondary: #c233cf;

	// **********Meta********************\\
	--red: #dd2c2c;

	--online-status: #27b94b;

	&:has(div:nth-child(1)[data-color-theme="light"]) {
		--white: #666;
		--white-secondary: #353535;
		--white-transparent: #c5c4c4d7;

		--black: #b1b1b1;
		--black-secondary: #dadada;
	}

	&:has(div:nth-child(1)[data-color-theme="dark"]) {
		--white: #e7e7e7;
		--white-secondary: #b1b0b0;
		--white-transparent: #4d4d4da1;

		--black: #333336;
		--black-secondary: #222121;
	}

}

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: inherit;
}

button {
	background: transparent;
	border: none;
	cursor: pointer;
}

#root {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	// align-items: center;
}